<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand pl-5" href="#"><img src="assets/popflix.png" alt="" style="width: 150px; height: 150px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link active text-white text-uppercase" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" routerLink="/login">Watchlist</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<hr>

<ul></ul>
<div class="container">
  <div class="row">
    <h1 style="color: aliceblue;"> <img
        src="https://img.icons8.com/ios-filled/16/white/rebalance-portfolio.png" />COMING SOON</h1>
    <hr style="color: ivory;">
    <div class="col-md-4">
      <div class="card" style="width: 23rem;">
        <a routerLink="about"> <img
            src="https://lumiere-a.akamaihd.net/v1/images/image_659514fa.jpeg?region=0%2C0%2C540%2C810"
            class="card-img-top" alt="..."> </a>

      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 style="align-items: flex-end; color: ivory; font-size: xx-large;">Doctor Strange in the Multiverse of
          Madness</h3>
        <br>

        <p class="card-text" style="color: ivory; font-size: x-large; "> Following the further adventures of Dr. Stephen
          Strange and his research on the Time Stone.
        </p>
        <br>
        <p style="color: rgb(50, 119, 180); font-size: larger;">Release date: 6 May 2022 </p>
        <br>
        <p style="color: aqua;">Production company: Marvel Studios</p>
        <br>


      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">

    <hr style="color: ivory;">
    <div class="col-md-4">
      <div class="card" style="width: 23rem;">
        <a routerLink="about"> <img
            src="https://m.media-amazon.com/images/M/MV5BYjlhNTA3Y2ItYjhiYi00NTBiLTg5MDMtZDJjMDZjNzVjNjJmXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UX1000_.jpg"
            class="card-img-top" alt="..."> </a>

      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 style="align-items: flex-end; color: ivory; font-size: xx-large;">MORBIUS</h3>
        <br>

        <p class="card-text" style="color: ivory; font-size: x-large; ">Biochemist Michael Morbius tries to cure himself
          of a rare blood disease, but when his experiment goes wrong, he inadvertently infects himself with a form of
          vampirism instead.
        </p>
        <br>
        <p style="color: rgb(50, 119, 180); font-size: larger;">Release date: 28 February 2022 </p>
        <br>
        <p style="color:aqua">Production companies: Columbia Pictures; Marvel Entertainment; Arad Productions; Matt
          Tolmach Productions</p>

      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">

    <hr style="color: ivory;">
    <div class="col-md-4">
      <div class="card" style="width: 23rem;">
        <a routerLink="about"> <img
            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBrkyd_3oGrhMfa0nmGQVbep3OmtciaAcouVlPaC-XmTB8sKwL"
            class="card-img-top" alt="..."> </a>

      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 style="align-items: flex-end; color: ivory; font-size: xx-large;">UNCHARTED</h3>
        <br>
        <br>
        
        <br>
        <p style="color:ivory; font-size: x-large;">Nathan Drake and his wisecracking partner Victor "Sully" Sullivan embark on a dangerous
          quest to find the greatest treasure never found while also tracking clues that may lead to Nate's long-lost
          brother.</p>
          <br>
          <p style="color: rgb(50, 119, 180); font-size: larger;">Release date: 18 February 2022 </p>
          <br>
          <p style="color:aqua"> Production companies: Columbia Pictures; Atlas Entertainment; Arad Productions; PlayStation Productions</p>


      </div>
   
    </div>
   <hr style="color: ivory;">
  </div>
</div>